@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.list2Menu {
  .container {
    margin: 0px auto;    
  }

  .title {
    font-size: 16px;
    font-weight: bold !important;
    /*font-family: "Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;*/
    color: #111;
    text-transform: uppercase;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .body {
    border: 1px dotted #111;
    padding-left: 2%;
    //box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);

    .links {
      list-style: outside none;
      margin: 5px 0;
      padding: 0 0 0 2px ;

      li {
        padding: 2px 0;

        a {
          color: #0089c9!important;
          text-decoration: none!important;
        }
      }
    }
  }

}